<?php

interface validate
{
    public static function validate($path);
}

class ValidateJSON implements validate{

    public static function validate($path)
    {
        return (object)json_decode(file_get_contents($path));
    }

}

class ValidateYAML implements validate{

    public static function validate($path)
    {
        return (object)yaml_parse_file($path);
    }
}


class ValidateINIT implements validate{

    public static function validate($path)
    {
        return (object)parse_ini_string(file_get_contents($path));
    }
}

?>